In [3]:
import pandas as pd, numpy as np
from sklearn.metrics import f1_score

In [15]:
data = pd.read_csv('../public_data/task_2_training_final.csv')

In [16]:
data.head()

     sub_id                                            content  L  G  B  T  O
0  0_Track2  —Bueno, pues ya pasó la euforia papá, ahora sí...  0  1  0  0  0
1  1_Track2  Esos de BTS se me hacen seres asexuales, eunuc...  0  0  0  0  1
2  2_Track2  La partida de skywars que me ha hecho enojar m...  0  1  0  0  0
3  3_Track2  Se te acabo tu juego maldito joto asqueroso, e...  0  1  0  0  0
4  4_Track2  @Lunaazulada_ Será a los jotitos.??ellos prefi...  0  1  0  0  0

In [19]:
# Crea una variable la cual contenga únicamente las columnas 2-6 de la variable data
train = data.iloc[:, 2:7].values
test = data.iloc[:, 2:7].values

In [20]:
# Crea una lista de los valores de las columnas
f1 = f1_score(train, test, average= 'macro')
print(f1)

1.0

In [21]:
data_1 = data.copy()
data_2 = data.copy()

In [23]:
# Compara la primera columna de data_1 con las primeras dos columnas de data_2 y regresa un true si son iguales
data_1.iloc[:, 0] == data_2.iloc[:, 0]

0       True
1       True
2       True
3       True
4       True
        ...
1334    True
1335    True
1336    True
1337    True
1338    True
Name: sub_id, Length: 1339, dtype: bool

In [26]:
data_1['sub_id'] == data_2['sub_id']

0       True
1       True
2       True
3       True
4       True
        ...
1334    True
1335    True
1336    True
1337    True
1338    True
Name: sub_id, Length: 1339, dtype: bool